<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Validação de URLs</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box" onclick="loadContent('/site','list', 'divList')">
                            <span class="info-box-icon bg-warning"><i class="fa fa-link"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">URLs Cadastradas</span>
                                <span class="info-box-number">{$nSite}</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box" onclick="openModalForm('Create')">
                            <span class="info-box-icon bg-warning"><i class="fa fa-plus"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Nova URL</span>
                                <span class="info-box-number"></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>

                </div>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <div class="row" id="divList"></div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content" id="bodyModal"></div>
    </div>
</div>
{include="script"}
<script>

    function openModalForm(sFunction,nSitId=null)
    {
        switch (sFunction){
            case "Create":
                loadContent('/site','create', 'bodyModal');
                break;
            case "Update":
                loadContent('/site/'+nSitId,'update', 'bodyModal');
                break;
            case "Request":
                loadContent('/requisicao/'+nSitId,'lista', 'bodyModal');
                break;
        }
        $('#modal').modal('show');
    }


    function modalConfirmDelete(nSitId) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        });
        swalWithBootstrapButtons.fire({
            title: 'Deseja realmente EXCLUIR a URL?',
            text: "A ação não poderá ser desfeita!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sim',
            cancelButtonText: 'Não',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed)
                deleteUrl(nSitId);
        })
    }

    function deleteUrl(nSitId){

        let sUrl = '';

        $.ajax({
            dataType: "json",
            type: "GET",
            url: "/site/" + nSitId + "/delete",
            beforeSend: function(){
                Swal.fire({
                    title: 'Enviando...',
                    didOpen: () => {
                        Swal.showLoading();
                    }
                })
            },
            error: function(oXMLRequest,sErrorType){
                console.log(sUrl);
                console.log(oXMLRequest.responseText);
                console.log(oXMLRequest.status + ', ' + sErrorType);
            },
            success: function(dados){
                loadContent('/site','list', 'divList');

                Swal.fire({
                    icon: dados.sClass,
                    title: dados.sMsg,
                    timer: 2000
                });
            }
        });
    }

    jQuery(document).submit(function(e){
        let form = jQuery(e.target);
        if(form.is("#formSite")){
            e.preventDefault();
            $.ajax({
                type: "POST",
                datatype: "json",
                url: form.attr('action'),
                data: form.serialize(),
                beforeSend: function(){
                    Swal.fire({
                        title: 'Enviando...',
                        didOpen: () => {
                            Swal.showLoading();
                        }
                    })
                },
                error: function(oXMLRequest,sErrorType){
                    console.log(form.attr('action'));
                    console.log(oXMLRequest.responseText);
                    console.log(oXMLRequest.status+' , '+sErrorType);
                },
                success: function(dados){
                    dados = jQuery.parseJSON(dados);

                    if (dados.sClass === "success")
                        location.href = "/";

                    Swal.fire({
                        icon: dados.sClass,
                        title: dados.sMsg
                    });
                }
            });
        }
    });

    (function worker() {
        $.ajax({
            url: '/site/list',
            success: function(data) {
                $('#divList').html(data);
            },
            complete: function() {
                // Schedule the next request when the current one's complete
                setTimeout(worker, 5000);
            }
        });
    })();
</script>