<div class="card-header">
    <h3 class="card-title">Requisições</h3>
</div>
<div class="card-body">
    <table class="table">
        <thead>
        <tr>
            <th>Status Code</th>
            <th>Data/Hora</th>
        </tr>
        </thead>
        <tbody>
        {loop="$vRequest"}
        <tr>
            <td>{$value.req_code}</td>
            <td>{function="formatDate($value.req_register,1)"}</td>
        </tr>
        {/loop}
        </tbody>
    </table>
</div>