<!-- jQuery -->
<script src="/res/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/res/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/res/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/res/dist/js/demo.js"></script>
<!-- sweetalert2 -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function loadContent(sUrl,sParameters=null,sIdDivInsert=null){

        if (sParameters)
            sUrl = sUrl + '/' + sParameters;

        $.ajax({
            dataType: "html",
            type: "GET",
            beforeSend: function(){
                if (sIdDivInsert){
                    $("#" + sIdDivInsert).html(
                        '<div style="text-align: center">' +
                        '<img src="/res/admin/img/load.gif" alt="" style="width: 150px">' +
                        '</div>'
                    );
                }
            },
            url: sUrl,
            error: function(oXMLRequest,sErrorType){
                console.log(sUrl);
                console.log(oXMLRequest.responseText);
                console.log(oXMLRequest.status+' , '+sErrorType);
            },
            success: function(data){
                if (sIdDivInsert)
                    $("#" + sIdDivInsert).html(data);
            }
        });
    }
</script>