{loop="$vSite"}
{$nSitId = $value.sit_id}
<div class="col-md-4">
    <div class="card" id="divList">
        <div class="card-header">
            <h3 class="card-title">{$value.sit_url}</h3>
        </div>
        <div class="card-body">
            <p class="text-center">
                <button type="button" class="btn btn-primary btn-sm" onclick="openModalForm('Update','{$value.sit_id}')"><i class="fa fa-edit"></i> Editar URL</button>

                <button type="button" class="btn btn-danger btn-sm" onclick="modalConfirmDelete('{$value.sit_id}')"><i class="fa fa-trash"></i> Apagar URL</button>
            </p>

            <table class="table">
                <thead>
                <tr>
                    <th>Status Code</th>
                    <th>Data/Hora</th>
                </tr>
                </thead>
                <tbody>
                {loop="$vRequest.$nSitId"}
                <tr>
                    <td>{$value.req_code}</td>
                    <td>{function="formatDate($value.req_register,1)"}</td>
                </tr>
                {/loop}
                </tbody>
            </table>
        </div>
    </div>
</div>
{/loop}