<form class="form" method="post" action="/site" id="formSite">
    <div class="modal-header">
        <h4 class="modal-title">Cadastrar URL</h4>
    </div>

    <div class="modal-body">
        <div class="form-group row">
            <div class="col-md-6">
                <label for="SitName">Nome</label>
                <input type="text" class="form-control" name="SitName" id="SitName" required>
            </div>
        </div>
        <div class="form-group row">

            <div class="col-md-12">
                <label for="SitUrl">URL</label>
                <input type="text" class="form-control" name="SitUrl" id="SitUrl" autocomplete="off" required>
            </div>
        </div>
    </div>

    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>